.bgimage {
    
    background-image: url("../Dashboard/imagee.png");
  
    
    background-position: start;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
  }