.admin {

overflow: hidden;
overflow-y: hidden;
overflow-y: hidden;

}

body{
    overflow: hidden;
}
.fileContainer {
    background:none;
    box-shadow: none;
    padding-top: 100px;
    padding-left: 40px;
}
.fileContainer .chooseFileButton {
    background-color: #28D179;
    padding: none;
    padding-top: 10px;
    border-radius: 30px;
}
.react-datepicker__input-container input {
    border: none;
    width: 70%;
    margin-left: 20px;

    padding-top: 5px;
}